.home-page-header {
  margin: auto;
  text-align: center;
  border-bottom: 1px solid #ccc;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 4px 8px;
  cursor: pointer;
  position: sticky;
  top: 0;
}

.home-page-content {
  display: flex;
  height: calc(100vh - 92px);
  justify-content: center;
}

.vertical-divider {
  width: 1px;
  height: 100%;
  background-color: #ccc;
}

.upload-section {
  padding: 20px;
  flex: 1;
  overflow: auto;
}

.generated-section {
  /*white-space: pre-wrap;*/
  flex: 1;
  padding: 20px;
  overflow: auto;
}

#file-list {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  gap: 18px;
}

